@model IEnumerable<ChiaSeDuLich.Models.User>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Quản lý người dùng</h2>

<p>
    @Html.ActionLink("Tạo mới", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserPass)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserRole)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserPhone)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserPass)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserRole)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserPhone)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.UserId }) |
            @Html.ActionLink("Details", "Details", new { id=item.UserId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.UserId })
        </td>
    </tr>
}

</table>
