@model ChiaSeDuLich.Models.InforShare

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Details</h2>

<div>
    <h4>InforShare</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.InforShareTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InforShareTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InforShareContent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InforShareContent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InforShareSource)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InforShareSource)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.InforShareId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
