<!DOCTYPE html>
<html>
<head>
    <title>@Page.Title</title>
    @RenderSection("head", required: false)
    <link href="~/Content/bootstrap-grid.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Style/custom.css" rel="stylesheet" />
</head>
<body>
    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top header-cus">
        <div class="container d-flex align-items-center justify-content-between">

            <h1 class="logo"><a href="@Url.Action("Index","Home", new {area = ""})">MusicShare (Home)</a></h1>

            <nav id="navbar" class="navbar">
                <ul>
                    <li><a class="nav-link scrollto " href="#hero"></a></li>
                    <li>   <a class="nav-link scrollto" href="@Url.Action("Index","InforShare")">Bài đăng </a></li>
                    <li>
                        <a class="nav-link scrollto" href="@Url.Action("Index", "Comment")">
                            Bình luận
                        </a>
                    </li>
                    <li>
                        <a class="nav-link scrollto" href="@Url.Action("Index", "Rank")">
                            Đánh giá
                        </a>
                    </li>
                    <li>
                        <a class="nav-link scrollto" href="@Url.Action("Index","User")">
                            Người dùng
                        </a>
                    </li>
                    <li><a class="nav-link scrollto " href="#hero"></a></li>
                    <li><a class="nav-link scrollto " href="#hero"></a></li>
                    <li><a class="nav-link scrollto " href="#hero"></a></li>
                    <li class="left">
                        <a href="@Url.Action("Index","Login", new {area = ""})">ĐĂNG XUẤT</a>
                    </li>

                </ul>
            </nav>
            <!-- .navbar -->

        </div>
    </header>
    <div class="container body-content body-content-admin">
        @RenderBody()
    </div>
    <script>
        try {
            let userJson = localStorage.getItem("user");
            if (userJson) {
                let user = JSON.parse(userJson);
                $("#userlogined").html(user.UserName);
            }
        }
        catch (e) {
            console.log(e);
        }
    </script>
</body>
</html>
